spring:
    security:
        user:
            name: admin
            password: admin
            roles: ACTUATOR_ADMIN
    # DB configuration
    liquibase:
        changeLog: classpath:dbchangelog/dbchangelog-master.xml
        enabled: true
    datasource:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://localhost:5432/email_db
        username: postgres
        password: root
        properties:
            charSet: UTF-8
        hikari:
            minimumIdle: 2
            maximumPoolSize: 25
            idleTimeout: 10000
            poolName: HikariCP
            maxLifetime: 7200000
            connectionTimeout: 30000
    jpa:
        show-sql: true
        properties:
            hibernate:
                default_schema: dev
                jdbc:
                    time_zone: UTC
                    lob:
                        # silence the 'wall-of-text' - unnecessary exception throw about blob types
                        non_contextual_creation: true
                globally_quoted_identifiers: true
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true

    # Email configuration
    mail:
        host: smtp.gmail.com
        port: 587
        protocol: smtp
        tls: true
        domain: gmail.com
        username: siddhant4patni@gmail.com
        password: vtfbufeybxbpzoht
        default-encoding: UTF-8
        properties:
            mail:
                mime:
                    charset: UTF
                smtp:
                    writetimeout: 10000
                    connectiontimeout: 10000
                    timeout: 10000
                    auth: true
                    ssl:
                        trust: smtp.gmail.com
                    starttls:
                        enable: true
                        required: true

    #Attachment Configuration
    webflux:
        multipart:
            max-disk-usage-per-part: 10MB
            max-files-allowed: 5
server:
    port: 8080

encryptionKey: abc@123

webclient:
    config:
        memory-buffer-size: 524288
        timeout: 30
        retry:
            max-retry: 3
            delay: 5

audit:
    connector:
        url: http://localhost:8085/audit
        username: audit
        password: audit

logging:
    level:
        root: INFO
        com:
            sid: INFO